@namespace MovieGuide.WebApp.Controls
@inherits MudComponentBase

<div @attributes="UserAttributes" role="progressbar" aria-valuenow="@Value" class="@DivClassname" style="@Style">
    <svg viewBox="0 0 240 240" style="transform: rotate(270deg)">
        <circle cx="120" cy="120" r="120" fill="black" />
        <circle cx="120" cy="120" r="95" fill="none" stroke="@valueColor" stroke-width="15px" stroke-opacity="0.3" />
        <circle cx="120" cy="120" r="95" fill="none" stroke="@valueColor" stroke-width="15px" stroke-dasharray="600" stroke-dashoffset="@dashOffset" />
        <g style="transform-origin:center; transform: rotate(90deg)">
            <text x="120" y="120" fill="@valueColor" color="" text-anchor="middle" dominant-baseline="central" font-family="Roboto" font-weight="500" font-size="6em">@rating</text>
        </g>        
    </svg>
</div>